html,body{
	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

*{
	padding: 0px;
	margin: 0px;}
.text-msg-pad{
	padding: .7rem 0rem .7rem .7rem !important;
}
.fondo{
	/* background-image: url('blue.jpg'); */
	/*background-image: url('../images/fondo2.jpg');*/
	background-image: white;
	background-size: 100%;
    background-repeat: no-repeat;}
.sala{
	height: 100vh;
	color: white;
	background: rgba(0,0,0,0.9);}
.inputs{
	height: 6rem;
	color: white;
	background: rgba(0,0,0,0.9);}
.p1{
	color: #29c457;
	display: inline-block;
	text-shadow: 1px 1px 20px #29c457;}
.p2{
	color: #495758;
	display: inline-block;
	text-shadow: 1px 1px 20px black;}
.p3{
	color: #1d91c3;
	display: inline-block;}
.p4{
	color: #31A4FA;
	display: inline-block;}
#newchat{height: 100%;
	width: 100%;}
.newchat{
	border: 1px;
	border-radius: 5px;
	border-style: solid;
	border-color: #EEF3EE;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 7px;
	cursor: pointer;
}
.iconodimencion{
	padding-top: 4px;}
.botones{
	margin-right: 2em;
	margin-bottom: 1em;}
.botones2{
	margin-top: 1em;}
.difuminado{
	text-shadow: 1px 1px 9px white;
	margin-bottom: 2em;
	height: 1px;}
#chat{
	height: 82vh;}
.chat-room{
	display: flex;
	align-items: center;
}
.chat-room h5{
	justify-self: start;
}
.chat-room .icon-room{
	padding: 1rem;
	justify-self: end;
}
#logout-btn{
	height: 5vh;
}
.botonenviar{
	margin-top: 1em;
}
.mensajitoschat{
	background: teal;
	height: 31em;
	padding: 2em;
}

.client{
	color: black;
}

#main-login{
	background: rgba(0,0,0,.9);
	height: 100vh;
	width: 100%;
	position: absolute;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#auth-form{
	width: 50%;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

#auth-form .input-field{
	width: 100%;
}

#newchat{
	outline: none;
	color: #29c457;
	font-size: 1em;
}

/*Chat box*/
	#chat_content{
		height: 50vh;
		overflow-y: auto;
	}

	.frame{
	  height: 100vh;
	  width: 100vw;
	  padding-top: 5rem;
	}

	.flex{
	  display: flex;
	  display: flex;
	  flex-direction: column;
	}

	.f-center{
	  align-items: center;
	  justify-items: center;
	}

	.f-start{
		align-items: start;
		justify-items: center;
		/* parche para chrome */
		align-items: flex-start;
		justify-content: center;
	}

	.f-end{
		align-items: end;
		justify-items: center;
		/* parche para chrome */
		align-items: flex-end;
		justify-content: center;
	}

	.my{margin-left: 1rem;}
	.his{margin-right: 1rem;}

	.my-msg{
	  background: lightgray;
	  border-radius: 5px 5px 5px 0px;
	  padding: 10px;
	  color: black;
	}

	.his-msg{
	  background: lightblue;
	  border-radius: 5px 5px 0px 5px;
	  padding: 10px;
	  color: black;
	}

	.my-tail{
	  width: 0; 
	  height: 0;
	  border-radius: 0px;
	  border-right: 20px solid transparent;
	  border-top: 10px solid lightgray;
	}

	.his-tail{
	  width: 0; 
	  height: 0;
	  border-radius: 0px;
	  border-left: 20px solid transparent;
	  border-top: 10px solid lightblue;
	}
/*End chat msg*/